/* amatic-sc-regular - latin-ext_latin */
@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-regular.woff')
			format('woff'),
		/* Modern Browsers */
			url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-regular.svg#AmaticSC')
			format('svg'); /* Legacy iOS */
}
/* amatic-sc-700 - latin-ext_latin */
@font-face {
	font-family: 'Amatic SC';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-700.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */
			url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-700.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-700.woff')
			format('woff'),
		/* Modern Browsers */
			url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-700.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/Amatic_SC/amatic-sc-v15-latin-ext_latin-700.svg#AmaticSC')
			format('svg'); /* Legacy iOS */
}
